*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}


/* Barra de Navegacion */
.navbar{
   background-color: #00334e; 
    background-color: #00334e;
   background-color: #00334e; 
}

#buttonHam{
    background-color: #f6f5f5;
    color: #ee6f57;
}


nav a img {
    width: 85px;
    box-sizing: border-box;
}

.nav-link{
    color: #f6f5f5;
    font-size: 1.3rem;
}
.nav-link:hover{
    color: #ee6f57;
}
/* Encabezado Index*/

header{
    display: flex;
    background-color: #00334e;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.header-text{
    color: #f6f5f5;
    font-size: 1.5em;
}

header div h1 {
    font-size: x-large;
    font-size: 2.5em;
    margin-bottom: 1rem;
    
}

h1,h2{
    font-family: Pacifico;
    font-weight: lighter;
    color: #ee6f57;
    margin: 0%;
}
.descripcion{
    margin: 2% 4%;
    
}

header div button{
    width: 40%;
    border: none;
    color: #145374;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    align-items: center;
    font-size: 16px;
    margin: 5%;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.5em;
}

.portada{
    display: flex;
    margin: 5% 5%;
    width: 100%
}

.img-encabezado{
    width:100%
}

@media only screen and (min-width: 780px){

    header{
        flex-direction: row;
    }

    header div button:hover{
        background-color: #ee6f57;
        color: #f6f5f5;
        
    
    }

    header div h1 {
        font-size: 3.5em;
        
    }
    .header-text {
        font-size: x-large;
    }

}
/* Secciones index*/
.subtitulo{
    font-size: 3em;
}
.sec1 h2{
    background-color: #145374;
    padding: 3%; 
    text-align:center;
}
.productos{
    display: grid; 
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));  /* Linea para responsive */
    grid-auto-rows: max-content;
    background-color: #145374;
    padding: 3%; 
}
.sec1 figure button{
    width: 40%;
    border: none;
    color: #145374;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    align-items: center;
    margin: 5%;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.2em;
}

.sec1 figure button:hover{
    background-color: #ee6f57;
    color: #f6f5f5;
    transition-duration: 0.6s;
}
.masVendidos{
    display: grid; 
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));  /* Linea para responsive */
    grid-auto-rows: max-content;
    background-color: #f6f5f5;
    padding: 3%; 
}
.sec1 figcaption{
    color: #f6f5f5;
    text-align: center;
    font-size: 1.5em;
}

.sec2 figcaption{
    color: #145374;
    text-align: center;
    font-size: 1.5em;
}
.itemProducto{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.imgEjem{
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    width: 230px;
}


.sec2 h2{
    background-color: #f6f5f5;
    padding: 3%; 
    text-align:center;


}

table{
    margin: 5% auto;
    border-style:dashed;
    width: 50%; 
    border: 5px;
    border-color: #ee6f57;
    box-sizing: content-box;

}

table tr {
    text-align: center;
    color: #145374;
}


/* Secciones Servicios*/
.encabezado{
    font-size: 1.40em ;
    background-color: #145374;
    padding: 3%;
    text-align: center;
}

/* Secciones Contacto */
.infoPers {
    display: inline;
    margin: 3% 10%;
    width: 80%;
    text-align: center;
    border: none;
}
/* Secciones FAQ */

#faq .section-2{
    background-color: #145374;
    padding: 2%;
} 

#faq .section-1,#faq .section-3{
    background-color: #f6f5f5 ;
    padding: 2%;
} 

.section-p-FAQ1{
    color: #145374 ;
}
.section-p-FAQ2{
    color: #f6f5f5;
}
.section-p-FAQ3{
    color: #145374;
}
/* Footer */

 #footer{
    background-color:#00334e;
    color: #f6f5f5;
}

.fa-brands{
    font-size: 1.8rem; 
}

.fa-facebook{
    color:#1877f2
}
.fa-whatsapp{
    color:#25d366
}

.fa-instagram{
    color: #e1306c
}