.encabezado{
    @include encabezado();
}

main{
    div{
        
        .muestrario{
            display: grid; 
            gap: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(16rem,1fr));  /* Linea para responsive */
            grid-auto-rows: max-content;
            background-color: $blanco;
            padding: 1%;
            align-self: center;

            .card{
                width:15rem;
            }

            .card-img-top{
                height: 50px;
                align-items: center;
                justify-content: center;
            }
        }
    }
}


