@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

//vars fonts
$mainFont:'Montserrat', sans-serif;
$secondaryFont: 'Pacifico', sans-serif;

//sizes

$textSm:0.8rem;
$textMd:1rem;
$textLg:1.2rem;
$textXl:1.4rem;
$textXxl:2.5rem;
$textXxxl:3.5rem;

