#footer{
    background-color: $mainColor;
    color: $blanco;
}

.fa-brands{
    font-size: $textXl; 
}

.fa-facebook{
    color:$facebook
}
.fa-whatsapp{
    color:$whatsapp
}

.fa-instagram{
    color:$instagram
}


